@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'VT323', sans-serif;
}
body {
  background-color: #e5e37b;
}
#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
#title {
  font-size: 5rem;
  text-align: center;
}
#grid {
  display: inline-flex;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
}
.gridPieces {
  width: 25px;
  height: 25px;
  background-color: white;
}
#clear {
  padding: 1rem;
  font-size: 3rem;
  background-color: #e5e37b;
  border: 5px solid black;
}
